Lab3/Lab3/.vs/Lab3/v16/Browse.VC.db
Lab3/Lab3/.vs/Lab3/v16/Browse.VC.opendb
Lab3/Lab3/.vs/Lab3/v16/ipch/AutoPCH/19224b7dd45decf1/MAIN.ipch
Lab3/Lab3/.vs/Lab3/v16/ipch/AutoPCH/1c70fa03f489f95f/READ.ipch
